@media only screen and (max-width: 1250px) {
  .display-4 {
    font-size: 70px!important;
  }
  h2 {
    font-size: 40px!important;
  }
}
@media only screen and (max-width: 952px) {
  .display-4 {
    font-size: 62px!important;
  }
  h2 {
    font-size: 30px!important;
  }
}
@media only screen and (max-width: 816px) {
  .display-4 {
    font-size: 55px!important;
  }
  h2 {
    font-size: 25px!important;
  }
}
@media only screen and (max-width: 506px) {
  .display-4 {
    font-size: 45px!important;
  }
  h2 {
    font-size: 20px!important;
  }
}
@media only screen and (max-width: 403px) {
  .display-4 {
    font-size: 45px!important;
  }
  h2 {
    font-size: 20px!important;
    top: 80%!important;
  }
}
@media only screen and (max-width: 787px) {
  .carousel-item img {
    max-width: 150px!important;
  }
  .carousel-inner {
    border-radius: 14px;
    height: 170px!important;
    display: inline-block;
    margin: 0 auto;
  }
  .jumbotron-fluid {
    height: 240px!important;
  }
}
@media only screen and (max-width: 657px) {
  .carousel-inner {
    border-radius: 14px;
    height: 170px!important;
    display: inline-block;
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
  }
  .btn-primary {
    color: #fff;
    font-family: 'Open Sans'!important;
    background-color: #6AC0E6!important;
    border-color: #6AC0E6!important;
    margin-top: 10px;
    width: 250px!important;
  }
  .jumbotron-fluid {
    height: 220px!important;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    top: 50%;
  }
}
@media only screen and (max-width: 557px) {
  .carousel-item img {
    max-width: 90px!important;
  }
  .menu {
    font-size: 30px!important;
  }
  .carousel-inner {
    border-radius: 14px;
    height: 120px!important;
    display: inline-block;
    margin: 0 auto;
  }
  .cap {
    font-family: "Amatic SC";
    text-shadow: none;
    font-size: 14px!important;
    color: black;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
  }
  h4 {
    font-size: 15px!important;
    line-height: 17px!important;
  }
  .boost img {
    max-width: 150px!important;
  }
}
@media only screen and (max-width: 340px) {
  .carousel-item img {
    max-width: 70px!important;
  }
  .cap {
    font-size: 7px!important;
  }
  .carousel-inner {
    border-radius: 14px;
    height: 90px!important;
    display: inline-block;
    margin: 0 auto;
  }
}
h1 {
  font-family: Pacifico;
  color: white;
  text-shadow: 0px 5px black;
}
.display-4 {
  font-size: 90px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron {
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 40px;
  background: url("JJimages/pink.jpeg");
  background-position: -500px;
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 20px;
}
h2 {
  font-family: 'Amatic SC';
  color: white;
  font-size: 50px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron-fluid {
  width: 100%;
  border-radius: 0px;
  background-image: url("JJimages/blu.jpeg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 250px;
  margin-bottom: 50px;
}
.menu {
  font-family: 'Amatic SC';
  color: black;
  font-size: 40px;
  margin-left: 50px;
}
.btn-danger {
  display: block!important;
  font-family: 'Open Sans'!important;
  font-size: 18px!important;
  margin-left: 81%;
  margin-right: 5%;
  margin-top: 20px;
  width: 220px;
  height: 45px;
}
.btn-primary {
  color: #fff;
  font-family: 'Open Sans'!important;
  background-color: #6AC0E6!important;
  border-color: #6AC0E6!important;
  margin-top: 10px;
  width: 450px;
}
.row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 40px;
}
.row img {
  max-width: 240px;
}
.boost {
  margin: 0 auto;
  border-top: 3px solid;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  /*margin-bottom: 20px;*/
}
.boost img {
  max-width: 270px;
}
h4 {
  font-family: 'Open Sans';
  font-size: 21px;
  line-height: 27px;
}
.carousel-item {
  text-align: center;
}
.drin {
  display: inline-flex;
  margin: 0 auto;
}
.drino {
  display: inline-flex;
  margin: 0 auto;
}
.carousel-item img {
  max-width: 250px;
}
.cap {
  font-family: "Amatic SC";
  text-shadow: none;
  font-size: 24px;
  color: black;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
}
.carousel-inner {
  border-radius: 14px;
  height: 300px;
  display: inline-block;
  margin: 0 auto;
}
.it3 {
  left: 10%;
  top: 87%;
}
.it4 {
  left: 30%;
  top: 87%;
}