.detail-image {
  width: 100%;
}
.vitamins span {
  font-weight: 600;
  margin-right:10px;
}
.vitamins p {
  display: inline-block;
  margin-right:30px;
  margin-bottom:0;
}
ul.ingredients  {
    list-style: disc;
    margin-left:30px;
}
ul.ingredients li {
  line-height: 30px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: #802b8e;

  margin: 20px, 0px, 20px, 0px;
  margin-bottom: 2rem;
}
h2 {
  margin: 20px, 0px, 20px, 0px;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
}
h6 {
  font-size: 0.8em;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}
p {
  margin-bottom: 1.2em;
      line-height: 1.5;
}
.smallfruit {
  /*margin-top: 1em;*/
}

.nobullets {
  list-style: none;
}

.titlebelowimage {
  margin-top: 20px;
}


hr.rowline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.2em 0;
  padding: 0;
}

img {
  border-radius: 20px;
}

.nutrition {
  display: flex;
}

.split {
  justify-content: space-between;
}

.nutrition.split p {
  margin-bottom: 0.2em;
}
.faded {
  color: #717274;
}
.transparent {
  color: rgba(113, 114, 116, 0.6);
  font-size: 12px;
    margin: 20px 0px 50px;
}
/* 
font-family: 'Amatic SC', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif; */
.lime h2 {
  color: #78be44;
}

/*.btn.btn-primary.orange {*/
.btn.btn-secondary.orange {
  background-color: #f6ab35;
  border-radius: 40px;
  border-color: transparent;
  padding: 0.5rem 3rem;
  font-weight: bold;
  margin-left: 10px
  /*margin: 1.5rem 1.5rem 1.5rem 0rem;*/
  /* display: block;
  margin: auto; */
}
/*.btn.btn-primary.orange:hover {*/
.btn.btn-secondary.orange:hover {
  background-color: #ce8105;
}

.btn.btn-outline-secondary.orange {
  border-radius: 40px;
  border-color: #f6ab35;
  color: #f6ab35;
  padding: 0.5rem 2.5rem;
  /*margin: 1.5rem 1.5rem 1.5rem 0rem;*/
}

.btn.btn-outline-secondary.orange:hover {
  border-color: #ce8105;
  color: #ce8105;
  background-color: transparent;
}
.breadcrumb {
  background-color: transparent;
  text-transform: uppercase;
  color: #717274;
  font-size:11px;
}
.breadcrumb-item a {
  color: #717274;
}

.breadcrumb-item.active {
  color: #555555;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: '|';
}

/* /////////////////////////////media query//////////////////// */
@media (max-width: 991px) {
  .centerall{
    text-align: center;
  }

  ul.ingredients  {
    list-style: none;
    padding-left: 0;
  }
  li {
    padding-left: 0;
  }

  .juiceDetail h1 {
  margin-top:25px;
  margin-bottom:45px;
  }

  .juiceDetail button {
    width:80%;
  }

  .btn.btn-outline-secondary.orange {
    border-radius: 40px;
    border-color: #f6ab35;
    color: #f6ab35;
    padding: 0.5rem 2.5rem;
    margin:10px;
    /*margin: 1.5rem 1.5rem 1.5rem 0rem;*/
  }
  /*.btn.btn-primary.orange {*/
    .btn.btn-secondary.orange {
    background-color: #f6ab35;
    border-radius: 40px;
    border-color: transparent;
    padding: 0.5rem 5rem;
    font-weight: bold;
    margin:10px;
    /*margin: 1.5rem 1.5rem 1.5rem 0rem;*/

  }
}

@media (max-width: 401px) {
  h6 {
    font-size: 0.7rem;
  }
}
