/**************************** MAX WIDTH 991 ****************************/
@media only screen and (max-width: 991px) {
    footer div {
        text-align: center;
    }
    .hide-small {
    	display: none;
    }
}
.chat__input {
    width: 100%;
    letter-spacing: .0625em;
    background-color: #e8e8e8;
    padding: .75em;
    font-size: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}
footer h5 {
    padding: 0 0 0px;}

.navbar ul li {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;}
.hide-big i {
    margin-left:20px;
}
/**************************** MIN WIDTH 992 ****************************/
@media only screen and (min-width: 992px) {
    footer div {
        margin-bottom: 30px;
    }
    .hide-big {
    	display: none;
}

.chat__input {
    width: 58.3333333333%;
    letter-spacing: .0625em;
    background-color: #e8e8e8;
    padding: .75em;
    font-size: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}
footer h5 {
    padding: 0 0 10px;}

.navbar ul li {
    margin-right: 30px;
    margin-bottom: -10px;
    margin-top: 10px;}